<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title></title>
</head>

<body>
	<div class="email-box"
		style="width: 704px; height: 304px; background: url(${applicationDomain}/public/images/2.0/bg-email.png) no-repeat; margin: 0 auto; font-size: 16px; font-family: 微软雅黑; color: #545454; padding-top: 170px; margin-top: 100px;">
		<p style="padding: 0 90px; margin: 0; line-height: 34px;word-wrap: break-word;word-break: break-all;font-size: 22px;">
			尊敬的运营同学，程序出现出错如下：<br /> 
			${message} <br /> 
			<span style="padding-left: 200px;">  PP助手安卓开放平台 ${date}</span>
		</p>
	</div>
</body>
</html>
